<!doctype html>
%html
  %head
    %meta{:charset => "UTF-8"}
  %body
    %script{:src => "/lib/com/requirejs/js/require.js"}
    %script{:src => "/scripts/requirejs-config.js"}
    %script{:src => "/scripts/background.js"}
    %textarea#clipboard_buffer
